<div class="row">
    <h1 id="title">PROYECTOS REALIZADOS</h1>
    <div class="container" >
        <ul >
            <li *ngFor="let proyecto of proyectos">
                <div class="col-sm-12 col-md-7 col-lg-7 texto">
                    <h1>{{proyecto.nombre}}</h1>
                    <p>
                        {{proyecto.anio}} {{proyecto.descripcion}}
                    </p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5 foto">
                    <img src={{proyecto.urlFoto}} class="img-fluid justify content center img-1" alt="JAVA" > 
                </div>
                
            </li>
        </ul>
    </div>
    
</div>   

      

