<h2 class="m-5">INICIAR SESIÓN</h2>
<form [formGroup] = "form" class ="m-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" formControlName = "email" 
      [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"
      class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf = "Email?.errors && Email?.touched"><!--directiva cond. para validar mail-->
        <p *ngIf = "Email?.hasError('required')" class="text-danger">
            El email es requerido.
        </p>
        <p *ngIf= "Email?.hasError('email')" class="text-danger">
            El formato del email debe ser válido.
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" formControlName="password"
      [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
      class="form-control" id="exampleInputPassword1">
      <div *ngIf= "Password?.errors && Password?.touched" ><!--directiva cond. para validar password-->
        <p *ngIf = "Password?.hasError('required')" class="text-danger">
            La contraseña es requerida.
        </p>
        <p *ngIf= "Password?.errors?.['minlength']" class="text-danger"><!--directiva cond. para validar mail--><!--directiva cond. para validar mail-->
            La contraseña debe ser de 8 o más caracteres.
        </p>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>