.row{
    padding: 20px;
    
}
div{
    background-color: rgba(28,27,34,255);
    color:whitesmoke;
}
h1,h3{
    display: inline;
}

#title{
    margin-top: -25px;
    font-weight: bold;
    color: #da291c;
    
    box-shadow: 2px 2px 10px rgb(10, 8, 8) ;
    text-shadow: 3px 3px 5px  rgb(10, 8, 8);
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}
ul{
    box-shadow: 2px 2px 10px rgb(10, 8, 8) ;
    border-radius: 5px;
    list-style-type: none;
    padding-bottom: 0.5%;
    padding-top: 1%;
}
h1{
    text-shadow: 3px 3px 5px  rgb(10, 8, 8);
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    padding-left: 1%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
