<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
        <img src="/../../assets/img/IMG-20180107-WA0002.jpg"  class="img-fluid" id="fotoPerfil" >
    </div>
    <div class="col-sx-12 col-sm-2 col-md-3 col-lg-3">
        <h2 id="rango">FULL STACK DEVELOPER JR - TÉCNICO MECATRÓNICO</h2>
    </div>
    <div class="col-sx-12 col-sm-7 col-md-7 col-lg-7">
        <SPan>
            <h2 id="acerca">
                ACERCA DE MÍ:
            </h2>
            <p>Soy técnico mecatrónico, me encanta desarrollo de software. Soy una persona curiosa y autodidacta. 
                Siempre estoy en busca de nuevos conocimientos sobre ciencia y tecnología. Me interesa la política, economía y filosofía. Escucho radio y podcast.
            De River Plate. </p>
        </SPan>
    </div>
</div>

