<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="/../../assets/img/IMG-20180107-WA0002.jpg"  class="img-fluid" id="fotoPerfil" >
    </div>
    <div class="col-sx-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="rango">FULL STACK DEVELOPER JR - TÉCNICO MECATRÓNICO</h2>
    </div>
    <div class="col-sx-12 col-sm-8 col-md-8 col-lg-8">
        <SPan>
            <h2 id="acerca">
                ACERCA DE MÍ:
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus temporibus dolores eius, debitis, 
            ea nobis velit expedita consectetur nisi repellat ab pariatur nam 
            error quia veniam alias tenetur porro facere!</p>
        </SPan>
    </div>
</div>

