<div class="col-sm-12 col-md-12 col-lg-12 row">
    <div class="cabecera">
        <ul id="grupo">
                <li>
                        <h1 id="title">EXPERIENCIA LABORAL</h1>
                </li>
                <li class="img" *ngIf="isLogged">
                        <img  src="../../assets/img/pencil.png" height="30px" width="30px" class="edit" (click)="onClick()">
                </li>
        </ul>
    </div>
    <div class="col-lg-12 container">
    <ul >
        <li *ngFor="let exp of experienciasLab">
           <h1>{{exp.compania}} </h1> <h3> Período: {{exp.ingreso}} - {{exp.salida}}</h3>
           <p>Posición: {{exp.descripcion}}</p> 
        </li>
    </ul>     
   </div>   
</div>
