<div class="row">
    <h1 id="title">EXPERIENCIA LABORAL</h1>
    <div class="col-lg-11">
    <ul>
        <li>
           <h1>Trabajo 1</h1> <h3> año 1</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, porro! Quia voluptate aspernatur saepe adipisci et officia quod consequatur eveniet veniam aliquid facere explicabo, vitae praesentium ab rem illo doloribus?</p> 
        </li>
        <li>
            <h1>Trabajo 2</h1> <h3> año 2</h3> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, porro! Quia voluptate aspernatur saepe adipisci et officia quod consequatur eveniet veniam aliquid facere explicabo, vitae praesentium ab rem illo doloribus?</p> 
         </li>
         <li>
            <h1>Trabajo 3</h1> <h3> año 3</h3> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, porro! Quia voluptate aspernatur saepe adipisci et officia quod consequatur eveniet veniam aliquid facere explicabo, vitae praesentium ab rem illo doloribus?</p> 
         </li>
         <li>
            <h1>Trabajo 4</h1> <h3> año 4</h3> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, porro! Quia voluptate aspernatur saepe adipisci et officia quod consequatur eveniet veniam aliquid facere explicabo, vitae praesentium ab rem illo doloribus?</p> 
         </li>
    </ul>    
    
</div>
    
</div>
