<div class="row">
    <h1 id="hard">HARD SKILLS</h1>
    <div class="text centercol-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent] = "70"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="false"
            [imageSrc]="'../../assets/img/java.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent] = "70"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="false"
            [imageSrc]="'../../assets/img/mysql.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
        ></circle-progress>
    </div>    
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent] = "70"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="false"
            [imageSrc]="'../../assets/img/mysql.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent] = "70"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="false"
            [imageSrc]="'../../assets/img/mysql.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
        ></circle-progress>
    </div>    
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent] = "70"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="false"
            [imageSrc]="'../../assets/img/mysql.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent] = "70"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="false"
            [imageSrc]="'../../assets/img/mysql.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
        ></circle-progress>
    </div>    
</div>        
<div class="row" id="soft">
        <h1 id="soft">SOFT SKILLS</h1>
        <div class="text center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent] = "70"
                [maxPercent]="100"
                [clockwise]="false"
                [radius]="60"
                [showInnerStroke]="false"
                [imageSrc]="'../../assets/img/mysql.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [titleColor]="'#2b2a33'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [outerStrokeLinecap]="'inherit'"
                [showZeroOuterStroke]="true"
                [animationDuration]="1000"
                [outerStrokeColor]="'#da291c'"
            ></circle-progress>
        </div>
</div>
