<div class="row">
    <h1 id="hard">HARD SKILLS</h1>
        <div class="hardCircles">
            <ul>
                <div *ngFor="let skill of skills">
                    <li *ngIf="skill.tipo === 'Tech-Hard'">
                        <circle-progress 
                            [percent]="skill.nivel" [maxPercent]="100" [clockwise]="false" [radius]="85"
                            [showInnerStroke]="true" [imageSrc]="skill.path" [showImage]="true" [imageWidth]="60"
                            [imageHeight]="60" [titleColor]="'#2b2a33'" [showUnits]="false" [showSubtitle]="false"
                            [outerStrokeWidth]="10" [outerStrokeLinecap]="'inherit'" [showZeroOuterStroke]="true"
                            [animationDuration]="1000" [outerStrokeColor]="'#da291c'" [innerStrokeWidth]="10"
                            [innerStrokeColor]="'#a9a9a9'" [space]="-10">
                        </circle-progress>
                    </li>
                </div>  
            </ul>
        </div>
    <h1 id="soft">SOFT SKILLS</h1>
    <div class="softCircles">
        <ul >
            <div *ngFor="let skill of skills">
                <li *ngIf="skill.tipo === 'Soft'">
                    <circle-progress 
                        [percent]="skill.nivel" [maxPercent]="100" [clockwise]="false" [radius]="85"
                        [showInnerStroke]="true" [imageSrc]="skill.path" [showImage]="true" [imageWidth]="60"
                        [imageHeight]="60" [titleColor]="'#2b2a33'" [showUnits]="false" [showSubtitle]="false"
                        [outerStrokeWidth]="10" [outerStrokeLinecap]="'inherit'" [showZeroOuterStroke]="true"
                        [animationDuration]="1000" [outerStrokeColor]="'#da291c'" [innerStrokeWidth]="10"
                        [innerStrokeColor]="'#a9a9a9'" [space]="-10">
                    </circle-progress>
                </li>    
            </div>
        </ul>
    </div>
</div>

        

       
        