<div class="row">
    <h1 id="hard">HARD SKILLS</h1>
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress class="java"
            [percent] = "75"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/java.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
            
        ></circle-progress>
    </div>
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "60"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/mysql.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div>
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "70"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/spring.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div>    
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "70"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/c-.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div>
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "65"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/typescript.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div>    
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "65"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/html-5(2).png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div>
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "65"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/css.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div>    
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "65"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/bootstrap.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div>  
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "70"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/angularjs.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div>  
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "70"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/git.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div>  
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "60"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/eng.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div>  
    <div class="text centercol-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent] = "80"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="60"
            [showInnerStroke]="true"
            [imageSrc]="'../../assets/img/cad-file.png'"
            [showImage]="true"
            [imageWidth]="60"
            [imageHeight]="60"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
        ></circle-progress>
    </div> 
</div>        
<div class="row" id="soft">
        <h1 id="soft">SOFT SKILLS</h1>
        <div class="text centercol-sm-3 col-md-3 col-lg-3">
            <circle-progress
                [percent] = "90"
                [maxPercent]="100"
                [clockwise]="false"
                [radius]="60"
                [showInnerStroke]="true"
                [imageSrc]="'../../assets/img/teamwork.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [titleColor]="'#2b2a33'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [outerStrokeLinecap]="'inherit'"
                [showZeroOuterStroke]="true"
                [animationDuration]="1000"
                [outerStrokeColor]="'#da291c'"
                [innerStrokeWidth]="10"
                [innerStrokeColor]="'#a9a9a9'"
                [space]="-10"
            ></circle-progress>
        </div>
        <div class="text centercol-sm-3 col-md-3 col-lg-3">
            <circle-progress
                [percent] = "45"
                [maxPercent]="100"
                [clockwise]="false"
                [radius]="60"
                [showInnerStroke]="true"
                [imageSrc]="'../../assets/img/scrum.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [titleColor]="'#2b2a33'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [outerStrokeLinecap]="'inherit'"
                [showZeroOuterStroke]="true"
                [animationDuration]="1000"
                [outerStrokeColor]="'#da291c'"
                [innerStrokeWidth]="10"
                [innerStrokeColor]="'#a9a9a9'"
                [space]="-10"
            ></circle-progress>
        </div>
        <div class="text centercol-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent] = "90"
            [maxPercent]="100"
            [clockwise]="false"
            [radius]="61"
            [showInnerStroke]="true"
            [showTitle]="true"
            [title]="'AUTODIDACTA'"
            [titleFontSize]="'16'"
            [titleFontWeight]="'bold'"
            [showImage]="false"
            [titleColor]="'#2b2a33'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [outerStrokeLinecap]="'inherit'"
            [showZeroOuterStroke]="true"
            [animationDuration]="1000"
            [outerStrokeColor]="'#da291c'"
            [innerStrokeWidth]="10"
            [innerStrokeColor]="'#a9a9a9'"
            [space]="-10"
            ></circle-progress>
        </div>
        <div class="text centercol-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent] = "80"
                [maxPercent]="100"
                [clockwise]="false"
                [radius]="60"
                [showInnerStroke]="true"
                [imageSrc]="'../../assets/img/communication.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [titleColor]="'#2b2a33'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [outerStrokeLinecap]="'inherit'"
                [showZeroOuterStroke]="true"
                [animationDuration]="1000"
                [outerStrokeColor]="'#da291c'"
                [innerStrokeWidth]="10"
                [innerStrokeColor]="'#a9a9a9'"
                [space]="-10"
            ></circle-progress>
        </div>
</div>
