.row{
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
}

#hard{
    color: rgba(28,27,34,255);
    font-weight: bold;
    text-shadow: 1px 1px 5px  rgb(10, 8, 8);

}
#soft{
    color: rgba(28,27,34,255);
    font-weight: bold;
    text-shadow: 1px 1px 5px  rgb(10, 8, 8);
}
.hardCircles div{
    width: auto;
    display: inline-block;
    align-items: flex-start;
}
.softCircles div{
    width: auto;
    display: inline-block;
    align-items: flex-start;
}
ul{
    list-style: none;
    margin-left: 1%;
    width: auto;
}
li{
    display: inline-block;
    text-align: justify;
    margin-right: 2%;
}